<!DOCTYPE html>
<html>
  <head>
    <title>Animaciones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet"
    href='https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap'>
    

  </head>
  <body class="app">
    <!-- <p id="counter"></p> -->

    <section class="section1">
      <div class="element1">
        <p id="insertHtml" class="p1"></p>
      </div>

      <div class="element2">
        <p id="insertHtml_2" class="p2"></p>
      </div>
    </section>
    <br>
    <div class="element3">
      <p id="insertHtml_3" class="p3"></p>
    </div>

    <script src="/javascripts/randomWords.js"></script>
  </body>
</html>
